<!DOCTYPE html>
<html>
<head>
<title>Marine Transportation's page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="static/bootstrap-reboot.css" rel="stylesheet" media="screen">
</head><body>
<h1> Department: Marine Transportation</h1>
<br>
<p>Click <a href="logout">here</a> to return to home page.</p>
<p><table style="width:100%">
<tr>
	<th>Department Number</th>
	<th>Name</th>
	<th>Supervisor Name</th>
</tr>
<tr>
<td>1.0</td>
<td>Marine Transportation</td>
<td>Lorant Houdmont</td>
</tr>
<tr>
<td>2.0</td>
<td>Auto Parts:O.E.M.</td>
<td>Salomone Ballinger</td>
</tr>
<tr>
<td>3.0</td>
<td>Restaurants</td>
<td>Cacilia Tindley</td>
</tr>
<tr>
<td>4.0</td>
<td>n/a</td>
<td>Brose Ladds</td>
</tr>
<tr>
<td>5.0</td>
<td>Major Pharmaceuticals</td>
<td>Camey Guilleton</td>
</tr>
<tr>
<td>6.0</td>
<td>n/a</td>
<td>Elora Wallsworth</td>
</tr>
<tr>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
<tr>
<td>8.0</td>
<td>n/a</td>
<td>Brunhilda Redhead</td>
</tr>
<tr>
<td>9.0</td>
<td>Specialty Insurers</td>
<td>Cozmo Sloey</td>
</tr>
<tr>
<td>10.0</td>
<td>Package Goods/Cosmetics</td>
<td>Edith Macek</td>
</tr>
<tr>
<td>11.0</td>
<td>Electric Utilities: Central</td>
<td>Natal Tiller</td>
</tr>
<tr>
<td>12.0</td>
<td>n/a</td>
<td>Katelynn Yurenev</td>
</tr>
<tr>
<td>13.0</td>
<td>n/a</td>
<td>Stu Pirdue</td>
</tr>
<tr>
<td>14.0</td>
<td>Automotive Aftermarket</td>
<td>Hank Elmes</td>
</tr>
<tr>
<td>15.0</td>
<td>n/a</td>
<td>Jeno Chinnery</td>
</tr>
<tr>
<td>16.0</td>
<td>Steel/Iron Ore</td>
<td>Boycey Biagini</td>
</tr>
<tr>
<td>17.0</td>
<td>n/a</td>
<td>Saree Ladson</td>
</tr>
<tr>
<td>18.0</td>
<td>n/a</td>
<td>Ethelbert Dodge</td>
</tr>
<tr>
<td>19.0</td>
<td>Aerospace</td>
<td>Brose Ladds</td>
</tr>
<tr>
<td>20.0</td>
<td>Real Estate Investment Trusts</td>
<td>Clementine Scoggin</td>
</tr>
</table>
</p>
</body>
