<!DOCTYPE html>
<html>
  <head>
    <title>Search Department</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap-reboot.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please search for a department</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Department" name="department" value="{{
          request.form.department }}">
        <input class="btn btn-default" type="submit" value="Search">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>
  </body>
</html>