<!DOCTYPE html>
<html>
<head>
<title>Department page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="static/bootstrap-reboot.css" rel="stylesheet" media="screen">
</head><body>
<h1> Welcome Virge</h1>
<br>
<p>Click <a href="logout">here</a> to go log out.</p>
<p><table style="width:100%">
<tr>
	<th>id</th>
	<th>ssn</th>
	<th>first_name</th>
	<th>last_name</th>
	<th>username</th>
	<th>password</th>
	<th>email</th>
	<th>gender</th>
	<th>ip_address</th>
	<th>creditcard_no</th>
	<th>address</th>
	<th>state</th>
	<th>city</th>
	<th>zip_code</th>
</tr>
<tr>
<td>255.0</td>
<td>513-13-9624</td>
<td>Virge</td>
<td>Schimoni</td>
<td>vschimoni72</td>
<td>uQFJv36GlDo</td>
<td>vschimoni72@boston.com</td>
<td>Male</td>
<td>122.42.91.91</td>
<td>3565590936265124</td>
<td>268 Thierer Lane</td>
<td>Pennsylvania</td>
<td>Scranton</td>
<td>18505</td>
</tr>
</table>
</p>
</body>
</html>
