<!DOCTYPE html>
<html>
<head>
<title>Marine Transportation's page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="static/bootstrap-reboot.css" rel="stylesheet" media="screen">
</head><body>
<h1> Department: Marine Transportation</h1>
<br>
<p>Click <a href="logout">here</a> to return to home page.</p>
<p><table style="width:100%">
<tr>
	<th>Department Number</th>
	<th>Name</th>
	<th>Supervisor Name</th>
</tr>
<tr>
<td>1.0</td>
<td>Marine Transportation</td>
<td>Lorant Houdmont</td>
</tr>
</table>
</p>
</body>
