<!DOCTYPE html>
<html>
<head>
<title>Alvis's Portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="static/bootstrap-reboot.css" rel="stylesheet" media="screen">
</head><body>
<h1> Welcome Alvis</h1>
<br>
<p>Click <a href="logout">here</a> to go log out.</p>
<p><table style="width:100%">
<tr>
	<th>Employee ID</th>
	<th>First name</th>
	<th>Last name</th>
	<th>username</th>
	<th>position</th>
	<th>salary</th>
	<th>department number</th>
	<th>department name</th>
	<th>supervisor</th>
</tr>
<tr>
<td>16.0</td>
<td>Alvis</td>
<td>Courage</td>
<td>acourage7e</td>
<td>Assistant Professor</td>
<td>$48647.09</td>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
<tr>
<td>16.0</td>
<td>Alvis</td>
<td>Courage</td>
<td>acourage7e</td>
<td>Assistant Professor</td>
<td>$48647.09</td>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
<tr>
<td>16.0</td>
<td>Alvis</td>
<td>Courage</td>
<td>acourage7e</td>
<td>Assistant Professor</td>
<td>$48647.09</td>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
<tr>
<td>16.0</td>
<td>Alvis</td>
<td>Courage</td>
<td>acourage7e</td>
<td>Assistant Professor</td>
<td>$48647.09</td>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
<tr>
<td>16.0</td>
<td>Alvis</td>
<td>Courage</td>
<td>acourage7e</td>
<td>Assistant Professor</td>
<td>$48647.09</td>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
<tr>
<td>16.0</td>
<td>Alvis</td>
<td>Courage</td>
<td>acourage7e</td>
<td>Assistant Professor</td>
<td>$48647.09</td>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
<tr>
<td>16.0</td>
<td>Alvis</td>
<td>Courage</td>
<td>acourage7e</td>
<td>Assistant Professor</td>
<td>$48647.09</td>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
<tr>
<td>16.0</td>
<td>Alvis</td>
<td>Courage</td>
<td>acourage7e</td>
<td>Assistant Professor</td>
<td>$48647.09</td>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
<tr>
<td>16.0</td>
<td>Alvis</td>
<td>Courage</td>
<td>acourage7e</td>
<td>Assistant Professor</td>
<td>$48647.09</td>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
<tr>
<td>16.0</td>
<td>Alvis</td>
<td>Courage</td>
<td>acourage7e</td>
<td>Assistant Professor</td>
<td>$48647.09</td>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
<tr>
<td>16.0</td>
<td>Alvis</td>
<td>Courage</td>
<td>acourage7e</td>
<td>Assistant Professor</td>
<td>$48647.09</td>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
<tr>
<td>16.0</td>
<td>Alvis</td>
<td>Courage</td>
<td>acourage7e</td>
<td>Assistant Professor</td>
<td>$48647.09</td>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
<tr>
<td>16.0</td>
<td>Alvis</td>
<td>Courage</td>
<td>acourage7e</td>
<td>Assistant Professor</td>
<td>$48647.09</td>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
<tr>
<td>16.0</td>
<td>Alvis</td>
<td>Courage</td>
<td>acourage7e</td>
<td>Assistant Professor</td>
<td>$48647.09</td>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
<tr>
<td>16.0</td>
<td>Alvis</td>
<td>Courage</td>
<td>acourage7e</td>
<td>Assistant Professor</td>
<td>$48647.09</td>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
<tr>
<td>16.0</td>
<td>Alvis</td>
<td>Courage</td>
<td>acourage7e</td>
<td>Assistant Professor</td>
<td>$48647.09</td>
<td>7.0</td>
<td>Medical/Dental Instruments</td>
<td>Ethe Beaford</td>
</tr>
</table>
</p>
</body>
</html>
