<!DOCTYPE html>
<html>
<head>
<title>Eustace's Portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="static/bootstrap-reboot.css" rel="stylesheet" media="screen">
</head><body>
<h1> Welcome Eustace</h1>
<br>
<p><a href="supplier">view suppliers</a></p>
<p>Click <a href="logout">here</a> to go log out.</p>
<p><table style="width:100%">
<tr>
	<th>Employee ID</th>
	<th>First name</th>
	<th>Last name</th>
	<th>username</th>
	<th>position</th>
	<th>salary</th>
	<th>department number</th>
	<th>department name</th>
	<th>supervisor</th>
</tr>
<tr>
<td>99.0</td>
<td>Eustace</td>
<td>Brimfield</td>
<td>ebrimfield9p</td>
<td>Nurse Practicioner</td>
<td>$94369.40</td>
<td>18.0</td>
<td>n/a</td>
<td>Ethelbert Dodge</td>
</tr>
</table>
</p>
</body>
</html>
