<!DOCTYPE html>
<html>
<head>
<title>HYDROCODONE, ACETAMINOPHEN, .GAMMA.-AMINOBUTYRIC ACID's page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="static/bootstrap-reboot.css" rel="stylesheet" media="screen">
</head><body>
<h1> Welcome HYDROCODONE, ACETAMINOPHEN, .GAMMA.-AMINOBUTYRIC ACID</h1>
<br>
<p>Click <a href="logout">here</a> to go log out.</p>
<p><table style="width:100%">
<tr>
</tr>
<tr>
<td>1.0</td>
<td>621406131.0</td>
<td>HYDROCODONE, ACETAMINOPHEN, .GAMMA.-AMINOBUTYRIC ACID</td>
<td>128205854</td>
</tr>
<tr>
<td>1.0</td>
<td>621406131.0</td>
<td>HYDROCODONE, ACETAMINOPHEN, .GAMMA.-AMINOBUTYRIC ACID</td>
<td>128205854</td>
</tr>
<tr>
<td>1.0</td>
<td>621406131.0</td>
<td>HYDROCODONE, ACETAMINOPHEN, .GAMMA.-AMINOBUTYRIC ACID</td>
<td>128205854</td>
</tr>
<tr>
<td>1.0</td>
<td>621406131.0</td>
<td>HYDROCODONE, ACETAMINOPHEN, .GAMMA.-AMINOBUTYRIC ACID</td>
<td>128205854</td>
</tr>
</table>
</p>
</body>
</html>
