<!DOCTYPE html>
<html>
<head>
<title>Simeon's page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="static/bootstrap-reboot.css" rel="stylesheet" media="screen">
</head><body>
<h1> Welcome Simeon</h1>
<br>
<p><a href="transaction">view transactions</a></p>
<p>Click <a href="logout">here</a> to go log out.</p>
<p><table style="width:100%">
<tr>
	<th>id</th>
	<th>ssn</th>
	<th>first_name</th>
	<th>last_name</th>
	<th>username</th>
	<th>password</th>
	<th>email</th>
	<th>gender</th>
	<th>ip_address</th>
	<th>creditcard_no</th>
	<th>address</th>
	<th>state</th>
	<th>city</th>
	<th>zip_code</th>
</tr>
<tr>
<td>12.0</td>
<td>128-38-7649</td>
<td>Simeon</td>
<td>Lawlee</td>
<td>slawleeb</td>
<td>5QzdVlyCRJ</td>
<td>slawleeb@simplemachines.org</td>
<td>Male</td>
<td>247.95.244.84</td>
<td>5355493937444203</td>
<td>105 Kenwood Road</td>
<td>Texas</td>
<td>Houston</td>
<td>77040</td>
</tr>
</table>
</p>
</body>
</html>
