<!DOCTYPE html>
<html>
  <head>
    <title>Delete User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap-reboot.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please enter the username of the user to be deleted</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="Username" value="{{
          request.form.Username }}">
        <input class="btn btn-default" type="submit" value="Delete">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>
  </body>
</html>