<!DOCTYPE html>
<html>
<head>
<title>Pat's page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="static/bootstrap-reboot.css" rel="stylesheet" media="screen">
</head><body>
<h1> Welcome Pat</h1>
<br>
<table style="width:100%">
<tr>
<td><p><a href="store">buy a product</a></p></td>
<td><p><a href="transaction">view transactions</a></p></td>
<td><p>Click <a href="logout">here</a> to go log out.</p></td>
</tr>
</table>
<p><table style="width:100%">
<tr>
	<th>id</th>
	<th>ssn</th>
	<th>first_name</th>
	<th>last_name</th>
	<th>username</th>
	<th>password</th>
	<th>email</th>
	<th>gender</th>
	<th>ip_address</th>
	<th>creditcard_no</th>
	<th>address</th>
	<th>state</th>
	<th>city</th>
	<th>zip_code</th>
</tr>
<tr>
<td>6.0</td>
<td>343-46-9767</td>
<td>Pat</td>
<td>McShirie</td>
<td>pmcshirie5</td>
<td>nKVJgRJcf</td>
<td>pmcshirie5@bandcamp.com</td>
<td>Male</td>
<td>186.117.117.189</td>
<td>3565912811750089</td>
<td>6261 Vera Crossing</td>
<td>Washington</td>
<td>Spokane</td>
<td>99252</td>
</tr>
</table>
</p>
</body>
</html>
