<!DOCTYPE html>
<html>
<head>
<title>Benito's page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="static/bootstrap-reboot.css" rel="stylesheet" media="screen">
</head><body>
<h1> Welcome Benito</h1>
<br>
<p><a href="transaction">view transactions</a></p>
<p>Click <a href="logout">here</a> to go log out.</p>
<p><table style="width:100%">
<tr>
	<th>id</th>
	<th>ssn</th>
	<th>first_name</th>
	<th>last_name</th>
	<th>username</th>
	<th>password</th>
	<th>email</th>
	<th>gender</th>
	<th>ip_address</th>
	<th>creditcard_no</th>
	<th>address</th>
	<th>state</th>
	<th>city</th>
	<th>zip_code</th>
</tr>
<tr>
<td>8.0</td>
<td>722-20-8654</td>
<td>Benito</td>
<td>Merriman</td>
<td>bmerriman7</td>
<td>iMNe7JohYk6e</td>
<td>bmerriman7@example.com</td>
<td>Male</td>
<td>243.65.236.227</td>
<td>3552726550769877</td>
<td>1 Hoffman Drive</td>
<td>Michigan</td>
<td>Southfield</td>
<td>48076</td>
</tr>
</table>
</p>
</body>
</html>
