<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap-reboot.css" rel="stylesheet" media="screen">
  </head>

  <header>
    <image src="{{ url_for('static', filename='Website Icons.png')}}">
  </header>

  <body>
    <h1>Welcome! Please select your login option:</h1>
    <br>
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}

    <div class="login-grid-container">
      <div class = "login-grid-item">
        <p><a href="/login">User</a></p>
      </div>
      <div class = "login-grid-item">
        <p><a href="/emplogin">Employee</a></p>
      </div>
    </div>

    <h1>View our vast selection of products:</h1>
    <br>

    <div class="products-grid-container">
      <div class = "products-grid-item">
        <p><a href="/login">Products</a></p>
      </div>
    </div>

    <h1>Interested in joining us? View our teams:</h1>
    <br>

    <div class="department-grid-container">
      <div class = "department-grid-item">
        <p><a href="/login">Departments</a></p>
      </div>
    </div>    

  </body>
</html>